@{
    ViewData["Title"] = "Invite Expired";
}

<header>
    <h1 class="text-danger">Invite Expired.</h1>
    <p class="text-danger">This invite has expired. Invites expire 3 days after being sent, or after the user who sent the invite has reached their maximum allotment.</p>
</header>
